* {
  margin: 0;
}

body {
  background: linear-gradient(320deg, rgb(250, 248, 113), rgb(253, 179, 95));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 10px solid red;
  border-radius: 30px;
  padding: 50px;
  margin-left: 100px;
  font-size: 2em;
  font-family: Arial;
}

.grid {
  background-color: rgb(3, 3, 72);
  padding: 0.5vh;
  display: grid;
  grid-template-columns: repeat(10, auto);
  gap: 0.5vh;
}

.grid > div {
  height: min(4vh, 7vw);
  width: min(4vh, 7vw);
  background-color: rgba(182, 166, 166, 0.2);
  border-radius: 0.3vh;
}

.grid .O {
  background-color: #f114d4;
}

.grid .L {
  background-color: #f1ed14;
}

.grid .J {
  background-color: #f18214;
}

.grid .I {
  background-color: #14f131;
}

.grid .S {
  background-color: #747aec;
}

.grid .Z {
  background-color: #e86991;
}

.grid .T {
  background-color: #14f1ea;
}
