* {
  margin: 0;
}

body {
  background: linear-gradient(320deg, rgb(250, 248, 113), rgb(253, 179, 95));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 10px solid red;
  border-radius: 30px;
  padding: 50px;
  margin-left: 100px;
  font-size: 2em;
  font-family: Arial;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
}

.btn-restart {
  width: 300px;
  height: 200px;
  background: linear-gradient(320deg, rgb(250, 248, 113), rgb(253, 179, 95));
  border-radius: 20px;
  /* border: 5px solid orange; */
  border: none;
  font-size: 55px;
  box-shadow: 0px 2px 10px 10px black;
  cursor: pointer;
}

.grid {
  background-color: rgb(3, 3, 72);
  padding: 0.5vh;
  display: grid;
  grid-template-columns: repeat(10, auto);
  gap: 0.5vh;
}

.grid > div {
  height: min(4vh, 7vw);
  width: min(4vh, 7vw);
  background-color: rgba(182, 166, 166, 0.2);
  border-radius: 0.3vh;
}

.grid .O {
  background-color: #f114d4;
}

.grid .L {
  background-color: #f1ed14;
}

.grid .J {
  background-color: #f18214;
}

.grid .I {
  background-color: #14f131;
}

.grid .S {
  background-color: #747aec;
}

.grid .Z {
  background-color: #e86991;
}

.grid .T {
  background-color: #14f1ea;
}
